<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Pfu", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <h1 style="color:red; font-size:3rem;"> Teste </h1>
      <div class="container">
            <a href="/"><i class="fa fa-home">HOME | </i></a>
            <a href="/users"><i class="fa fa-users">USERS | </i></a>
            <a href="/login"><i class="fa fa-users">LOGIN | </i></a>
            <a href="/posts"><i class="fa fa-users">POST | </i></a>
            <%= if !@current_user do %>

              <i class="fa fa-registered"> <%= link "REGISTER | ", to: Routes.user_path(@conn, :new) %></i>
            <% else %>

              <%= link "NEW | ", to: PfuWeb.Router.Helpers.user_path(@conn, :new) %>
              <%= Phoenix.HTML.Link.link("EXIT("<>@current_user.username<>") | ", to: "/logout") %>

            <% end %>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
